div#contenedor{
    background-color: rgb(0, 0, 0);
    width: 1900px;
    height: 2580px;
    margin: -8px;
}
div#logotipo{
    background-color: rgb(0, 0, 0);
    width: 1900px;
    height: 234;
    margin:0px;
}
div#logo {
    background-color: rgb(0, 0, 0);
    width: 1800px;
    height: 234px;
    margin: 0px 0px 0px 0px;
    display:flex;
    flex-wrap: wrap;
}
div#menus{
background-color: rgb(0, 0, 0);
width: 1100px;
height: 70px;
margin: 0px 0px 0px 390px;
display:flex;
flex-wrap: wrap;
list-style-type: none;
}
div#Gifs{
    background-color: rgb(0, 0, 0);
    width: 1900px;
    height: 2180px;
    margin: 0px;
    
}
div#Gif1{
    background-color: rgb(0, 0, 0);
    width:300px;
    height: 600px;
    margin: 0px 0px 0px 30px;
}
div#Gif2{
    background-color: rgb(0, 0, 0);
    width: 280px;
    height: 600px;
    margin: -200px 0px 0px 1500px;
}
div#Pizzas-1{
    background-color: rgb(0, 0, 0);
    width: 1200px;
    height: 2150px;
    margin: -985px 0px 0px 300px;
}
div#Fotos-Pizzas{
    background-color: rgb(255, 255, 255);
    width:1018px;
    height: 1990px;
    margin: 0px 0px 0px 40px;
}
div#Pie-de-pagina{
    background-color:rgb(228, 30, 30);
    width: 1900px;
    height: 193px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
div#Info-alumno{
background-color: rgb(124, 4, 4);
width: 950px;
height: 183px;
margin: 10px 0px 0px 0px;
}

div#Derechos{
    background-color: rgb(124, 4, 4);
    width: 950px;
    height: 183px;
    margin: -183px 0px 0px 950px;
}
div#Derecho1{
    background-color: rgb(124, 4, 4);
    width: 400px;
    height: 163;
}